/*tailwind css utility classes*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* The animation code */
@keyframes cell-active {
  from {
    transform: "rotate(0turn)";
  }
  to {
    transform: "rotate(0.05turn)";
  }
}

/* The element to apply the animation to */
.animate-cell-active {
  animation-name: cell-active;
  animation-duration: 4s;
}
